@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


::selection {
    background-color: #000;
    color: #fff;
}

::-webkit-scrollbar {
    display: none;
}

html {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /* overflow-scrolling: touch; */
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    background-color: #ffffff;
    overscroll-behavior: none;
    animation-name: backgroundColor;
    animation-timing-function: ease;
    animation-fill-mode: inherit;
    animation-timeline: scroll();
}


.main {
    text-transform: none;
    height: auto;
}

.scrollbar{
    position: fixed;
    top: 50%;
    right: 4%;
    transform: translate(50%,-50%);
    width: 5px;
    height: 25vh;
    background-color: white;
    border-radius: 5px;
    z-index: 3;
}

.scrollbar>.scroller{
    width: 5px;
    height: 5vh;
    background-color: black;
    border-radius: 5px;
    z-index: 4;

    animation-name: scrollbar;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-timeline: scroll();
}

@keyframes scrollbar{
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(400%);
    }
}

.orange {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF9933;
    z-index: 4;
}

/* Absolute Center CSS Spinner */
.loading {
    position: fixed;
    z-index: 999;
    width: 10vw;
    aspect-ratio: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    animation: rotator 2s linear infinite;
    /* Adjust the animation duration */
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

    /* Change to 360deg for a full rotation */
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 2s ease-in-out infinite, colors 8s ease-in-out infinite;
    /* Adjust animation durations */
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }

    25% {
        stroke: #DE3E35;
    }

    50% {
        stroke: #ffffff;
    }

    75% {
        stroke: #138808;
    }

    100% {
        stroke: #4285F4;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(360deg);
        /* Adjust to a full rotation */
    }
}


.white {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    z-index: 3;
}

.green {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #138808;
    z-index: 2;
}

.main>img {
    opacity: 0;
    width: 5vh;
    aspect-ratio: 1;
    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.india {
    width: 300px;
    height: 150px;
    overflow: hidden;
}

h1 {
    font-family: Agbalumo;
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    /* -webkit-text-stroke: 2px #000; */
}


nav {
    display: block;
    width: min-content;
    height: 10vh;
    position: fixed;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #00000060;
    padding: 0rem 1vh;
    border-radius: 0.5rem;
    z-index: 4;
}

nav>.block {
    position: relative;
    width: 8vh;
    aspect-ratio: 1;
    background-color: #000000a0;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 2;
}

nav>.block>h4 {
    opacity: 0;
    text-wrap: nowrap;
    position: absolute;
    text-transform: capitalize;
    font-family: agbalumo;
    font-weight: 500;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    z-index: 100;
    transition: all ease-in-out 0.3s;
}

.block:hover h4 {
    font-size: 16px;
    opacity: 1;
    color: white;
    visibility: visible;
    top: -50%;
}

nav>.block>i {
    color: white;
    font-size: 28px;
}

nav>.block:hover {
    cursor: pointer;
    font-weight: 900;
    box-shadow: 0px 0px 10px 2px #000000a0;
}

.page1 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}



.page1>video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50vh;
}


.page1>.hero>h1 {
    padding: 0px 10px;
    opacity: 0;
    font-size: 4.5vw;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
}



.page1>.explore {
    position: absolute;
    top: 85%;
    left: 5%;
}

h3 {
    opacity: 0;
    font-size: 24px;
    color: white;
    text-transform: capitalize;
}


.page1>.imgcontainer {
    position: absolute;
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    width: clamp(12rem, 40%, 24rem);
    height: clamp(150px, 15vh, 350px);
}



.page1>.imgcontainer>img {
    border-radius: 10px;
    width: clamp(12rem, 15vw, 24rem);
    aspect-ratio: 16/9;
    object-fit: fill;
    opacity: 0;
    box-shadow: 0px 0px 50px 2px #FF9933;

    animation-name: imgrotate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timeline: linear;
    animation-timing-function: ease-in-out;
}




@keyframes imgrotate {
    0% {
        transform: rotateY(-20deg);
    }
    50% {
        transform: rotateY(20deg);
    }
    100% {
        transform: rotateY(-20deg);
    }
}

.page2 {
    width: 400%;
    /* Adjust the width according to your design */
    height: 100vh;
    display: flex;
    overflow: hidden;
    background-color: transparent;
}

@keyframes backgroundColor {

    0%,
    33.33% {
        background-color: #FF3FA4;
    }

    40% {
        background-color: #FF9209;

    }

    60% {
        background-color: #A8DF8E;
    }

    100% {
        background-color: #39A7FF;
    }

}

.page2>.block {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page2>.block>.left {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10vh 5vw;
}

.page2>.block>.left>h1 {
    color: #000;
}

.page2>.block>.right {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh 5vw;
}

.page2>.block>.right>img {
    z-index: 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page3 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page3>.viewcontainer {
    display: inline-block;
    align-items: center;
    width: 70%;
    height: 20vh;
    padding: 20px;
    overflow: hidden;
}

.page3>.viewcontainer>h1 {
    color: #000;
    text-align: center;
    font-size: 6vw;
    text-transform: capitalize;
}


.page4{
    width: 100%;
    min-height: 100vh;
    padding: 5vh 5vw;
}

.page4>.block__container{
    color:white;
}

.page4>.block__container>hr{
    width: 100%;
    border: 2px solid #fff;
}

.page4>.block__container>.block{
    display: flex;
    align-items: center;
    justify-content: center;
}

.page4>.block__container>.block>img{
    display: none;
}

.page5 {
    width: 100%;
    min-height: 100vh;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    padding: 5vh 6vw;
    grid-gap: 1rem;
    overflow: hidden;
}

.page5>.block {
    flex-basis: 1;
    padding: 1rem 2rem;
    /* background-color: red; */
}

.page5>.block>h1 {
    color: #000;
}
